[2017-03-11 22:35] alexanderjeurissen opened #1 "Original issue on ranger/ranger that resulted in the development of this plugin"
At first I created a gist for this ranger plugin and later moved it to a repository so that people can install the plugin with more ease.

The original thread that originated this plugin can be found here:
https://github.com/ranger/ranger/issues/298

[2017-03-11 22:44] alexanderjeurissen opened #2 "Update readme to include install instructions for patched fonts"

[2017-03-11 22:59] #2 closed

[2017-03-11 23:02] alexanderjeurissen opened #3 "Warning being shown when closing ranger"
When using devicons as the default line mode the following warning is shown when closing ranger:

[code]

Which is weird because the line mode can manually be activated once ranger has been invoked, and the line mode is active on activation of ranger without delay. I'll create an issue in the ranger repository inquiring about possible causes of this behaviour.

For now rest be assured that this do

[2017-03-12 22:04] planigan opened #4 "Is there any way to control how tight the spacing of the icon to text is?"
The spacing is very tight on my box:

![image](https://cloud.githubusercontent.com/assets/478095/23836419/2be3eb6c-074e-11e7-80c4-317e95799898.png)

[2017-03-14 23:15] alexanderjeurissen commented on #4
@planigan This can be controlled, by default a single space is included as spacing.

see https://github.com/alexanderjeurissen/ranger_devicons/blob/master/devicons_linemode.py#L12

[code]

you can change that code to include two spaces, I myself have no spacing issues however, did you try using a smaller font ?

[2017-03-15 00:59] planigan commented on #4
Thank you very much for this plugin and for spoon feeding me something I should have found for myself. I was in `devicons.py` adding/changing icons, but I hadn't looked in `devicons_linemode.py`. I hadn't tried messing with the font. It was a simple fix with what you pointed out.

Feel free to close this, or leave it open for others to find easier.

Thanks again.

[2017-03-15 08:39] alexanderjeurissen commented on #4
np

[2017-03-15 08:39] #4 closed

[2017-03-18 19:55] j-degreef opened #5 "PR with new config filenames"
Hello,
I have a PR nearly ready with a newspaper icon for log files and several more config file names but I just discover that video files are ignored right now.
I'll try to include these in my PR.
Should be ready by tomorrow or monday.
BR, Jérôme

[2017-03-18 20:58] j-degreef commented on #5
+ any idea for an icon for .xml files ? I'm thinking of the http one but we could maybe find a better one.

[2017-03-24 21:04] #1 closed

[2017-03-31 17:11] j-degreef commented on #5
I agree ;)

[2017-03-31 21:11] alexanderjeurissen commented on #5
Thanks again for reporting this issue. I just merged PR #6

[2017-03-31 21:11] #5 closed

[2017-04-01 10:35] alexanderjeurissen opened #7 "Install script appends `default line mode entry` even if it already exists"
When running

[code]

The install script appends an entry to the ranger configuration to use the ranger_devicons mode by default. However the install script currently isn't aware if this line is already present. This results in multiple entries when updating for example.

There are several possible solutions to this:

- Instead of copying the files using `install` we could symlink them to the corr

[2017-05-12 09:55] daizeng1984 commented on #3
+1, I think this is happening when opening the ranger with devicon plugin. You can ctrl-z to see this error message.

[2017-06-07 14:51] daizeng1984 commented on #3
I was also kind of looking into this annoying issue. It's as @yevhen-m said in referencing issue. Here's the [commit](https://github.com/daizeng1984/ranger/commit/2d366e4f0f80fb845d940afb307281268ee94530) on my fork. Will send a PR and let's see.

[2017-07-21 07:41] echuraev commented on #7
@alexanderjeurissen it was fixed in my PR #8

[2017-07-24 10:26] alexanderjeurissen commented on #7
@echuraev thanks, I'll make sure to close this issue as part of PR #8

[2017-08-19 21:43] FireAntJoe opened #9 "Blocks displaying instead of icons"
I get these little blocks instead of icons when in ranger. I have python installed and nerd-fonts-git installed from the AUR.

[2017-08-19 22:29] #7 closed

[2017-08-20 04:19] alexanderjeurissen commented on #9
@FireAntJoe That means that ranger can't find the glyphs that are used in this plugin.

My first guess would be that the nerd-fonts font is not set as the default font for your terminal.
If however, your sure that you installed the nerd font correctly, and that you set the nerd font as the default font for rendering text in your terminal, then you could try manually installing the nerd font as lis

[2017-08-20 21:06] FireAntJoe commented on #9
In my termite config .config I have the following line
`font = nerd-fonts 9` so as far as I know that should work. Nerd-fonts is installed as far as I know because otherwise my airline in my zsh wouldn't work but since it does and all icons display I assume that is not the issue.

[2017-08-21 00:27] alexanderjeurissen commented on #9
Ok, thanks for clarifying that. To confirm that the nerd font is behaving correctly (and figure out if it's a ranger issue) could you open the devicons.py file `https://github.com/alexanderjeurissen/ranger_devicons/blob/master/devicons.py` in vim or just `cat` to print out it's contents.

If blocks show up in that case as well, could you try using the exact font that I listed ?

[2017-08-27 05:50] alexanderjeurissen commented on #9
@FireAntJoe did you happen to have time to look into my suggestions ? Do you still have the problem you described earlier ?

[2017-08-31 02:41] FireAntJoe commented on #9
It worked thanks man been a busy week

[2017-08-31 03:37] alexanderjeurissen commented on #9
ok, I'll close this issue for now then. If you have any issues with the patched nerd fonts please in the future please redirect them to https://github.com/ryanoasis/nerd-fonts

[2017-08-31 03:37] #9 closed

[2017-10-03 12:55] j-degreef opened #10 "Bad icon for Download"
Hi,

I have a bad icon for the Download directory (see pic).
I seems this icon is not present in my fonts (tested with DejaVu Sans Mono and SauceCodePro Nerd Font from NerdFont).

And btw why the Makefile installs devicons.py in the Ranger folder and devicons_linemode.py in the plugins folder ?

Cheers.
![2017-10-03-144101_1366x768_scrot](https://user-images.githubusercontent.com/6998555/31126044-

[2017-10-26 16:00] alexanderjeurissen commented on #10
Hi @j-degreef apologies for not getting back to you sooner. I just checked using the latest commit on Master and using `FireCode Mono Nerd Font` and the downloads folder shows up correctly:

<img width="621" alt="screen shot 2017-10-26 at 5 53 51 pm" src="https://user-images.githubusercontent.com/1220084/32063247-f5d33adc-ba76-11e7-8a8f-58f4761e4c4c.png">

Can you try redownloading the font your u

[2017-11-28 22:01] alexanderjeurissen commented on #10
I'm closing this out due to inactivity.

[2017-11-28 22:01] #10 closed

[2017-12-14 23:44] alexanderjeurissen commented on #3
@daizeng1984 I still seem to have this issue on ranger version 1.8.1 Did you change anything else to get it working ?

[2017-12-15 07:53] daizeng1984 commented on #3
@alexanderjeurissen it should be solved in new release later than 1.9.0b5 (now it's 1.9.0b6?). You might try to update to this fresh version on Github.

[2017-12-15 10:34] alexanderjeurissen commented on #3
@daizeng1984 ok good to know, so that means it's not fixed in the stable release of Ranger (which is 1.8.1 atm afaik)

[2017-12-15 17:28] daizeng1984 commented on #3
yes, you are right.

On Fri, Dec 15, 2017 at 2:34 AM, Alexander Jeurissen <
notifications@github.com> wrote:

[2018-01-20 17:36] eMPee584 opened #14 "Support plain unicode"
While the patched fonts will definitely offer an infinitely bigger space of options, why not use the glyphs already in unicode? That adds portability, even if at the cost of versatility & blingness ..
📁📂🗃️🗄️🎞️📽️🎼🎵🎶🖼️⚒️

[2018-01-29 18:00] magnetophon commented on #3
A new ranger release is out, and it indeed does not have this issue, so it can be closed.

[2018-01-29 18:02] magnetophon opened #15 "feature request: easy updates"
Is there a way to keep this wonderful plugin up to date that doesn't involve manually checking this repo?

As a partial solution I suggest changing the line that is inserted to ``rc.conf`` to include where the plugin came from:
[code]

That way, when you update ranger, and diff ``rc.conf``, you are reminded to have a look here.

[2018-02-27 21:56] alexanderjeurissen commented on #15
Hi @magnetophon Thanks so much for filing this issue, it has definitely come to my attention that this is indeed a limitation currently. One which I myself am not confronted with as seeing as the author of this plugin I have a copy of the repo laying around on all my machines.

I'll implement your suggestion to include a comment for now, and think about how we can improve the update process.

[2018-02-27 22:43] alexanderjeurissen commented on #14
Hi @eMPee584 Thanks for chiming in. Whilst I like the idea of supporting a unicode fallback, I still think that I'd like to support the patched font implementation mainly because of the infinitely bigger space of options.

To set some expectations: I have access to a patched font on all my machines and rarely use ranger in ssh sessions, as such this is really low on my priority list and I thus don

[2018-02-28 19:46] magnetophon commented on #15
Dank je wel!

[2018-03-06 19:10] j-degreef commented on #10
Hi,

Sorry but I had forgotten about this issue. I had replaced the problematic character in my config file and forget about it.
I've tested with your font, except I've not found FireCode but FuraCode :-/
The problem is solved with this font but I've another problem, see screen  capture.
![font_problem](https://user-images.githubusercontent.com/6998555/37052574-f3b8c28e-2179-11e8-810b-0199038e799b

[2018-03-07 13:00] j-degreef opened #19 "Bad icon for Download #10"
Hi @alexanderjeurissen I've replied to a closed issue (Bad icon for Download #10) and I don't know if it was the right way and if you get it.

[2018-03-13 23:00] alexanderjeurissen commented on #19
Hi @j-degreef Thanks for reporting, I have indeed noticed your comment and will take a look next weekend if I can replicate it.

[2018-03-17 21:41] alexanderjeurissen commented on #19
@j-degreef So I took another look at your screenshot and noticed that the overlapping arrows is likely due to the ligatures that the font you're using has in place.

Some fonts provide what's called `ligatures` which means they'll replace some character sequences with a different symbol, for example a ligature that some fonts have is replacing `>=` with a single symbol that represents smaller or e

[2018-03-17 21:43] alexanderjeurissen commented on #3
I just confirmed that homebrew does include the ranger release that fixes this issue (latest homebrew version is 1.9.1)

I can no longer replicate the issue in that version, and as such will be closing this issue.

[2018-03-17 21:43] #3 closed

[2018-03-24 21:50] j-degreef commented on #19
Hi,

Thanks for your explanation. I suspected it had nothing to do with ranger_devicons.
I'm been working with double-byte characters (and RTL  alignment) implementing chinese, corean, thai languages in a  english software that was not written for them so I know the problem we can have with fonts...

I can confirm that it works ok with SauceCodePro NerdFont except for the Doc icon and the GoogleDr

[2018-03-25 20:15] Patark opened #20 "Text to rc.conf not added properly"
When installing with `make install` my rc.conf ends up looking like this:
[code]

[2018-03-25 20:37] freed00m opened #21 "Document icon is randomly switching with char "Ò""
Hi,

It's a really weird problem and it's the only icon it happens to yet.

It usually starts normally.

![2018-03-25-223300_921x519_scrot](https://user-images.githubusercontent.com/9461698/37879659-9141848a-307c-11e8-937d-bde1bb657523.png)

Then it's easily triggerproof way is with `set viewmode multipane` and increasing the font size back and forth.

This is before the font resize
![2018-03-25-2

[2018-03-25 20:56] alexanderjeurissen commented on #21
Hi @freed00m Thanks for reporting this, I've also noticed the Documents icon being out of sync in Alacritty. I'm not sure what is causing this but it's something that recently broke.

My first hunch is that it might have to do with the latest version of the patched NERD fonts, do you remember when you last updated you're NERD font ?

[2018-03-25 20:57] alexanderjeurissen commented on #20
@Patark Hmm that's interesting, can you share some more information about you're setup ? e.g. terminal emulater, operating system, other packages that you have installed etc. That will help in debugging this issue.

[2018-03-25 20:59] freed00m commented on #21
@alexanderjeurissen  Sometime around 2 month ago, but the bug could have been there before. I just paid little attention to it.

[2018-03-25 21:00] alexanderjeurissen commented on #19
@j-degreef Thanks for writing back, I'll quote you're comment and merge it with a more recent issue so we can have a single discussion thread about this. I'll mention you in that issue so you can participate.

https://github.com/alexanderjeurissen/ranger_devicons/issues/21

[2018-03-25 21:00] #19 closed

[2018-03-25 21:02] alexanderjeurissen commented on #21
@j-degreef noticed something similar in the issue I just linked.

his latest comment: https://github.com/alexanderjeurissen/ranger_devicons/issues/19#issuecomment-375927444

I'm merging it in here so we can have a single discussion as I feel some of these issues might be linked.

[2018-03-26 16:13] j-degreef commented on #19
@alexanderjeurissen ok, I've seen it.

[2018-03-26 16:18] Patark commented on #20
Sure thing. I'm running antergos. Here's a list of installed packages: https://gist.github.com/Patark/09c0c2964cd8756aaf26aa95011fac54

I've tried using Tilix, Alacritty, and xterm as well as using fish instead of bash, and the results are the same.

[2018-04-03 13:22] glotzbam commented on #20
Same issue here. Plus after the lines in rc are corrected manually, ranger tells me
"Invalid linemode: devicons; should be filename/metatitle/permissions/fileinfo/mtime/sizemtime"

[2018-04-03 19:59] alexanderjeurissen commented on #20
@glotzbam the later issue you mentioned `invalid linemode` was a bug in Ranger itself, and should be resolved in ranger versions later then 1.8.3.

@Patark thanks for providing more information, I'm currently really busy but when some time frees up I'll take a look at the info you provided.

[2018-04-07 16:49] alexanderjeurissen commented on #20
@Patark can you checkout the branch `20/fix_test_added_to_rc_conf` ? and see if that fixes your issue ? (https://github.com/alexanderjeurissen/ranger_devicons/tree/20/fix_text_added_to_rc_conf)

[2018-04-12 19:56] #20 closed

[2018-04-12 19:57] alexanderjeurissen commented on #20
@Patark closing this issue out, I merged PR #22 so if you update the plugin it should add the correct pretext in rc.conf. Feel free to reopen if this didn't resolve you're issue.

[2018-04-12 20:07] alexanderjeurissen commented on #15
I thought about this some more and I think that wrapping this plugin in a PyPy package could be a potential improvement, the only trick would be to get the files in the `.config/ranger` directory

resources for my own reference sake:

- http://peterdowns.com/posts/first-time-with-pypi.html
- https://github.com/pypa/pip/issues/1489

This would allow for the following installation flow:

`$ pip inst

[2018-04-12 20:59] magnetophon commented on #15
Sounds great, thanks!

[2018-04-15 11:03] Patark commented on #20
Just gave it a go. There's still a \n getting  added at to the default_linemode line as shown below:

# a plugin that adds file glyphs / icon support to Ranger:
# https://github.com/alexanderjeurissen/ranger_devicons
default_linemode devicons\n

I can see in the commit that the actual \n gets echoed out which i guess it shouldn't?

[2018-04-15 19:57] alexanderjeurissen commented on #20
@Patark good find, not sure how that got in there, I committed a fix, can you verify it works as expected ?

[2018-04-16 08:38] Patark commented on #20
Yep, looks good 👍

[2018-05-07 08:41] ad-si opened #23 "Feature Request: Colored icons"
It would be really color if there was an option to color the icons like in https://github.com/ryanoasis/vim-devicons

Any chance this gets implemented? :grin:

![](https://github.com/ryanoasis/vim-devicons/wiki/screenshots/v0.10.x/overall-screenshot.png)

[2018-05-07 09:03] alexanderjeurissen commented on #23
Hi @ad-si Thanks for submitting this feature request. That looks pretty rad, I think we might be limited to the ranger colorschemes, but I'll see if this can be achieved using color escape codes and the likes.

[2018-05-23 22:58] ghost opened #25 "Icon's Will Not Display In Mac"
Currently I am have NerdFont installed and the icons will not properly appear in Ranger.
![screen shot 2018-05-23 at 5 58 08 pm](https://user-images.githubusercontent.com/17577796/40455526-ecad2c5c-5eb2-11e8-8e6d-370f8e6d8432.png)

[2018-06-05 11:12] NightFury8 opened #26 "Hack nerd font with st not working"
Icons not showing with hack nerd font

[2018-06-16 23:39] mvrozanti opened #27 "Folder and image glyphs not showing"
![image](https://user-images.githubusercontent.com/11381662/41503244-8c4d2a2e-71a4-11e8-860b-952b41105b46.png)

But some others are. I'm using Droid Sans Mono for Powerline Nerd Font Complete.otf downloaded from [here](https://github.com/ryanoasis/nerd-fonts/tree/master/patched-fonts/DroidSansMono/complete)

[2018-06-17 00:04] mvrozanti commented on #27
Fixed in URxvt by deleting `Urxvt.letterSpacing: -1` line in `.Xdefaults`

[2018-06-17 00:04] #27 closed

[2018-07-06 16:37] nixfreak commented on #25
same , I have all the nerd fonts installed and use source code as my default using iterm2 and still ranger doesn't use the glyphs

[2018-07-09 13:59] FireAntJoe commented on #25
I was able to fix it by switching the font my terminal used. @alexanderjeurissen

[2018-07-11 19:22] alexanderjeurissen commented on #25
@FireAntJoe That's good to hear.

@nixfreak does this resolve the issue for you as well ?

[2018-08-09 22:32] bbaserdem opened #28 "Icons don't show with patched fonts"
I can't see any icons on ranger. Unlike the other problems here, I don't see any icons.

I use FuraCode Nerd Font Mono, and termite. (Using archlinux packages from AUR) I have tried switching to SauceCodePro Nerd Font Mono, and I have tried multiple terminals (urxvt, kitty, st) and the icons are blank all throughout.
![2018-08-09_15 27 06](https://user-images.githubusercontent.com/19315586/4392933

[2018-08-11 10:41] alexanderjeurissen commented on #28
@bbaserdem thanks for reporting this.
Do utf-8 icons display in other parts of your terminal (meaning outside of ranger) ? a quick way to test this is executing the following and seeing if it renders any icon:
`echo "\ue0b0 \u00b1 \ue0a0 \u27a6 \u2718 \u26a1 \u2699"`

If icons are rendered when executing the command above, I likely need some more context to troubleshoot the issue. Can you tell me:

[2018-08-11 10:43] alexanderjeurissen commented on #25
closing this due to inactivity.

[2018-08-11 10:43] #25 closed

[2018-08-12 05:08] bbaserdem commented on #28
I can render the fonts outside of ranger just fine. I'm getting right triangle, +-. fork, arrow, X, colored lightning and an orb as glyphs.

Ranger version is;
[code]

Running `termite --version` outputs `termite v13`.

Running `ncursesw6-config --version` returns `6.1.20180127` (I assume ranger is an ncurses app?)

(I use Arch btw) I used the following AUR packages, and tested with multiple fonts

[2018-08-12 11:35] alexanderjeurissen commented on #28
@bbaserdem ok thanks for providing version info, to make sure that devicons is loaded correctly, can you modify the following file `.config/ranger/devicons.py` and change the method defined at line 217 to:

[code]

then execute ranger again, and see if directories are prefixed with a `D` and files with `F` similar to the screenshot below:
![screen shot 2018-08-12 at 1 34 34 pm](https://user-images

[2018-08-12 15:48] bbaserdem commented on #28
Yes, I do get the letters before directories and files. Definitely not linked to devicons.

Strangest is, when I use vim, I see the glyphs just fine in the devicons.py

[2018-08-14 03:29] bbaserdem commented on #28
So I found out the issue and fixed it. I had /etc/locale.gen configured and generated locale, but /etc/locale.conf was not configured. Doing that fixed the issue. Definitely not devicons fault.

Maybe a line at troubleshooting mentioning this could be a cause? Other than that I don't think further discussion is neccessary.

[2018-08-14 03:29] #28 closed

[2018-08-24 11:19] aranmohyeddin opened #29 "Icons appear too small on kitty terminal on archlinux."
I got the font from [Here](https://aur.archlinux.org/packages/nerd-fonts-source-code-pro/)
[code]
Here is the font part in my kitty config file:

Please note that I'm seeing the correct Icons according to your screenshot but the icons are just too small for example in your screenshot the directory icon is larger than f character but for me it's slightly smaller than the a character.

[2018-08-24 11:26] aranmohyeddin commented on #29
I think I found the problem. kitty only supports mono-spaced [fonts](https://sw.kovidgoyal.net/kitty/faq.html?highlight=monospaced#kitty-is-not-able-to-use-my-favorite-font)...

[2018-08-24 11:26] #29 closed

[2018-11-11 20:43] chupy35 opened #30 "Missing Icons"
i Install the full package of nerd-fonts in archlinux, using currently ProFont Windows.
Only some icons show off:

![screen](https://user-images.githubusercontent.com/892664/48318036-86a54c80-e5c8-11e8-8b7e-5b71be21bd8e.png)

[2018-11-13 00:07] alexanderjeurissen commented on #30
In order for me to get a better sense what the root cause of this might be, can you install the SourceCodePro font from the nerd-fonts library ? and see if you can reproduce the issue with that font as well ?

[2018-11-13 00:13] chupy35 commented on #30
Yes, i tried already with that font, I installed all the fonts from the package, its only happening with the folders i think, do you think is related that my sistem is in spanish? is only with folders.

[2018-11-17 01:17] Daniel-Liu-c0deb0t commented on #30
I installed the full zip package of the patched Fira (Fura) Code, and got the same problem.

However, I found a fix. In my font browser, it shows both Fura Code Nerd Font and Fura Code NF. Originally, I selected the former, and the folders did not show. But when I tried the latter font, and it works. Maybe you can try abbreviating Nerd Font to NF and see if it works?

[2018-11-22 23:02] chupy35 commented on #30
Thanks, ill try.

[2018-11-23 20:16] chupy35 commented on #30
When changing to abreviation NF shows the folders but now the other files dont have icons haha.

[2018-11-23 20:20] Daniel-Liu-c0deb0t commented on #30
For me it worked for all folders and files. Maybe you should somehow combine them? I'm out of ideas.

[2018-11-24 18:57] chupy35 commented on #30
I just discover is about Font Size defined in .Xdefaults, in some sizes its displayed and in some not.

[2018-12-08 18:50] pshoultz commented on #30
I can't see any icons at all.

devicons.py is in ~/.config/ranger
devicons_linemode.py is in ~/.config/ranger/plugins/
my termite config file has: font = SauceCodePro Nerd Font 11
run ranger.  the linemode devicons and no icons are present.  Just some blank spaces for where the icons would be.
when I open up devicons.py , my icons are visible inside of vim.

I have a similar program that operates

[2018-12-18 22:31] alexanderjeurissen commented on #30
@pshoultz can you file a separate issue for this ? I'm closing out this issue du eto @chupy35 issue being resolved.

[2018-12-18 22:31] #30 closed

[2018-12-23 19:51] igorlakic opened #34 "Icons missing"
I have an issue similar to these: #9 and #30.
Some icons are displayed, but most of them are not (blocks are displayed instead of icons). I've installed Nerd fonts and configure SauceCodePro Nerd Font as my default one in my .Xresources file:
`URxvt*font:  xft:SauceCodePro\ Nerd\ Font:size=13:antialias=true`

Also I got this in my terminal: `Invalid linemode: devicons; should be metatitle/sizemtim

[2018-12-23 19:59] igorlakic commented on #34
I can confirm that [this is also true](https://github.com/chupy35) but it still isn't a solution because some icons are displayed, but most of them are not.

[2018-12-25 03:01] sergarcia opened #36 "Does not work despite fonts being installed"
I have SauceProCode as my terminal font and when I open devicons.py in vim I can see the symbols, however in ranger I only see additional empty space next to file/directory names after installing ranger_devicons. In other words I don't see the icons at all in ranger.  Also the `fc-list` command detects SauceProCode. I installed the fonts through the AUR.

[2018-12-25 23:20] alexanderjeurissen commented on #36
can you try running `make uninstall`
Then pull the latest master and run `make install` again.

[2018-12-26 17:46] sergarcia commented on #36
I figured out the problem, my locale configuration was bad and I fixed it by adding a couple of lines to my .bashrc. This also fixed the ranger icons.

[2018-12-28 14:50] alexanderjeurissen commented on #36
@sergarcia glad to hear you managed to fix the problem. Can you share what lines you fixed so other people that might find this issue in the future can fix it themselves as well ?

[2018-12-28 16:56] sergarcia commented on #36
When ranger started it would flash a message along the lines of "could not set locale ... expect encoding errors". There might be a log where this message can be clearly seen. I use Arch, and configured my locales with the defaults steps from their wiki, but some programs would still complaint about locales. So to finally solve that I added the following lines to my .bashrc
[code]
Which solved my

[2018-12-30 22:34] alexanderjeurissen commented on #36
@sergarcia Thanks for sharing your resolution steps, hopefully people in the future will find it helpful in resolving their own environment. Happy holidays !

[2018-12-30 22:34] #36 closed

[2019-01-15 04:59] jcklpe commented on #3
Hey guys, I'm having this issue. I'm using zsh as my shell, hyper.js as my terminal shell emulator, and I'm using Ubuntu for Windows using the Windows Subsystem Layer. I installed ranger using apt install, directly from the default ubuntu install repo. Ubuntu 18.04, so Bionic Beaver.

Loving ranger so far though!

[2019-01-17 16:59] igorlakic commented on #34
rxvt was the main culprit of the issue I explained earlier. On XTerm everything is working just fine.

[2019-01-17 17:00] #34 closed

[2019-02-11 17:05] magicalbanana opened #38 "Doesn't work on Mojave"
This works fine on my Ubuntu machine but on my Mac OSX (Mojave) all I see is `-`. Fonts are installed.

[code]

[2019-03-08 14:37] kronolynx commented on #3
I'm also having this problem in Ubuntu 18.04 using Urxvt both in Bash and Fish, I also installed ranger using apt.

[2019-03-20 23:04] nQ8hzkZw opened #40 "Automatic icons switching based on file age"
I want to change icon of files and folders that are not older than 24 hours (according to modification time).

By modifying `devicons_linemode.py` as shown below, the icons of recently modified files/folders are changed, as expected.

[code]
**The problem:**
However, after 86400 seconds (or less, for debugging), the icons are not automatically updated.
`:reload_cwd` command updates icons for files

[2019-04-26 12:42] Marie-Antoinette opened #42 "Error after uninstall"
I tryed your tool then make uninstall, now when I quit ranger I have this message:
**Invalid linemode: devicons; should be metatitle/permissions/fileinfo/filename**

Thks

[2019-04-26 13:07] alexanderjeurissen commented on #15
Closed by #37

[2019-04-26 13:07] #15 closed

[2019-04-26 14:50] magnetophon commented on #15
Cool, thanks!

[2019-04-29 19:03] alexanderjeurissen commented on #42
Hmm, it looks like the devicons linemode is still specified in the ranger configuration.

can you verify for me that `default_linemode devicons`
is no longer present in your `rc.conf` file ?

[2019-04-29 19:06] alexanderjeurissen commented on #42
I was able to reproduce the issue you outlined.
The reason this happens is because the `make uninstall` only removes the plugin files it does not remove the line in your `rc.conf` that sets the default linemode.

I'll add a section to the documentation to make sure this is documented.

[2019-04-29 19:17] alexanderjeurissen commented on #42
I weant ahead and expiremented with the makefile.
I updated the makefile to properly remove the `default_linemode` option that are added during installation whenever `make uninstall` is run.

[2019-04-29 19:17] #42 closed

[2019-04-29 19:18] alexanderjeurissen commented on #42
Changes are merged in, if you pull the latest master and run `make uninstall` the error should be resolved. feel free to reopen this issue if you run into any issues.

[2019-04-30 06:10] Marie-Antoinette opened #44 "Hmm, it looks like the devicons linemode is still specified in the ranger configuration."
Hmm, it looks like the devicons linemode is still specified in the ranger configuration.

can you verify for me that `default_linemode devicons`
is no longer present in your `rc.conf` file ?

_Originally posted by @alexanderjeurissen in https://github.com/alexanderjeurissen/ranger_devicons/issues/42#issuecomment-487703678_

Fixed: I canceled the line in rc.conf
Thks

[2019-04-30 06:12] #44 closed

[2019-05-02 10:25] fsquillace opened #45 "Wrong icons for Dropbox and `.sh` files"
Since one of the last changes (https://github.com/alexanderjeurissen/ranger_devicons/commit/81cb58b3d1ce4c36cd1f351f40ae4a13682849ae) I have noticed that the Dropbox folder and the `*.sh` files have wrong icons. Range shows a gear for the Dropbox folder whereas `*.sh` shows a `#` sign instead of the terminal character.

Is this an intentional change?

Thanks

[2019-05-06 01:59] lfilho commented on #28
Hey @bbaserdem could you share how you configured /etc/locale.conf and /etc/locale.gen? I don't have any of those files in my system. Thank you!

[2019-05-06 05:16] bbaserdem commented on #28
I would suggest following through [this page](https://wiki.archlinux.org/index.php/Locale); i don't have access to my computer.

[2019-05-07 16:13] Dovermore commented on #38
Worked on my Mojave, with Tmux.

[2019-05-11 03:36] lfilho opened #47 "Experimental instalation (loading plugins from plugin folder) not working"
Hi there! Thanks a lot for your efforts on this! Appreciate it!

I have set it up using the recent support for plugins according to the [current instructions](https://github.com/alexanderjeurissen/ranger_devicons/tree/e64e1da1f1b8f3aa23989507f78e1bc3f48944da#experimental-method). The only difference was that instead of cloning the git repo, I added it as submodule:

[code]
Then after this, i have

[2019-06-03 17:42] sdushantha opened #49 "Not working properly, there are ectangles next to icons"
There are for some reason rectangles next to the icons, which cause the the icons to look a little messy. My guess is that it has to do something with the fonts that I am using.
![Screenshot_19-06-03_at_18-58-15](https://user-images.githubusercontent.com/27065646/58822331-87bacb80-8637-11e9-89c2-e0fe78d845e5.png)

Terminal: kitty
Font used in terminal: Hack

[2019-06-13 21:16] alexanderjeurissen commented on #49
Are you using the NERD font patched version of `Hack` ?
e.g. https://github.com/ryanoasis/nerd-fonts/tree/master/patched-fonts/Hack

[2019-06-13 21:20] alexanderjeurissen commented on #47
Depending on what machine you are running this, the ranger version that you have installed might not support the `experimental plugin installation` yet. For instance last time I checked on OSX, the Homebrew version of ranger does not include the commit that adds support to ranger for this way of installing plugins.

see: https://github.com/alexanderjeurissen/ranger_devicons/pull/37

which is the o

[2019-06-13 21:22] alexanderjeurissen commented on #45
This is not intentional, There is a PR out #48 to address the dropbox icon, feel free to submit a PR to fix the incorrect SH icon. If you don't get around to doing so I'll see if I have some time this weekend to address this issue.

[2019-06-13 21:26] alexanderjeurissen commented on #38
Apologies for the late response,

Is this still an issue @magicalbanana ?
If so can you provide me your shell, terminal, ranger version ?
A screenshot of what you are actually seeing would also be helpful.

[2019-06-14 06:08] sdushantha commented on #49
No, I am using the `Symbols Nerd Font`
[code]

The strange thing is that it worked perfectly on the terminal emulator `st`.
![Screenshot_19-06-14_at_08-06-50](https://user-images.githubusercontent.com/27065646/59486997-85e4d980-8e7b-11e9-9b4e-c4a66a1bba96.png)

[2019-06-14 06:13] Mange commented on #49
Pretty sure it's this problem: https://github.com/ryanoasis/nerd-fonts/pull/297

[2019-06-14 06:29] sdushantha commented on #49
Since that PR has not been merged, is there something I can do so that I can install the working font that you made?

[2019-06-14 13:28] Mange commented on #49
No, not really. I have a copy of the font locally on another machine that I use right now.

Maybe you could ping that thread so I can get some assistance on it.

[2019-06-15 07:23] sdushantha commented on #49
Is it possible to get a copy of the font file?

Yes, I can ping the thread :)

[2019-06-18 03:29] lfilho commented on #47
Indeed! I just checked and although i have the lastest released version (1.9.2) that version is much behind their master. I wonder why they don't release (at least minor) versions more often. I'll close this one here then. Cheers!

[2019-06-18 03:29] #47 closed

[2019-07-18 19:26] kharnox opened #50 "Strange behaviour with icons"
Hi.

First of all, thanks for the awesome work, keep it up!

So, here is the issue I am facing:
When opening ranger, some icons do not show: it seems to occur mostly on folders of "unknown types" (so, folders which aren't defined in the devicons.py) .
Also, some icons show only when the cursor is on them.

![2019-07-18-212232_570x259_scrot](https://user-images.githubusercontent.com/37575235/614857

[2019-07-19 15:15] krvkir commented on #50
I have the same problem with DroidSansMono Nerd Font on urxvt 9.22, but icons work fine on Xfce terminal with the same font.

[2019-07-29 08:14] kharnox commented on #50
Quick update --

Seems like a couple of Nerds fonts aren't correctly working (at least within URxvt)
Switched to FureCode Nerd Font and now everything is working as expected.

Closing the issue as it is resolved

[2019-07-29 08:14] #50 closed

[2019-09-21 12:24] alexanderjeurissen commented on #38
Closing out due to inactivity

[2019-09-21 12:24] #38 closed

[2019-10-13 16:09] sontekliu opened #53 "It does’t work well on urxvt"
It does‘t work well on urxvt， The icon can’t be show well.
![20191014_000335](https://user-images.githubusercontent.com/16081767/66718467-e890b680-ee16-11e9-87e8-dcaca757fd18.png)

[2019-10-13 16:41] duffydack commented on #53
That's probably just urxvt not supporting wide glyphs.

![grim-173737](https://user-images.githubusercontent.com/41839511/66718863-8917b400-ede0-11e9-9b6f-8c30eefd71f9.png)

Which is why I use a patched version, [rxvt-unicode-cvs-patched-wideglyphs](https://aur.archlinux.org/packages/rxvt-unicode-cvs-patched-wideglyphs/)

[2019-10-14 04:51] sontekliu commented on #53
I see, Thank you

[2019-10-14 04:51] #53 closed

[2019-11-04 01:40] lbesnard commented on #3
same issue with
[code]

[2019-11-04 20:23] aalvarado commented on #3
[code]

[code]

[code]

Gnome Terminal
Installed from Apt

[2019-12-02 08:32] Pagliacii commented on #3
I encountered this problem after I installed it by the experimental method.

And I found that this plugin must installed in the plugins directory, just like `make install`.

After jump into ~/.config/ranger/plugins/ and `make install`, this warning disappeared.

[2020-01-09 09:13] scrouthtv commented on #36
Thanks for sharing. Helped me too

[2020-01-26 18:43] GreyDireWolf opened #55 "Icons not displaying at all"
I use urxvt for terminal and Sauce Code Nerd Font from nerd fonts but the icons are not displayed in ranger at all. I tried it on termite still doesn't work
![2020-01-27_00-05](https://user-images.githubusercontent.com/13380243/73139917-2699a980-4099-11ea-8335-3ce71dfff916.png)

[2020-02-06 10:45] aniru3-otaku commented on #55
After installing the devicons using experimental method, cd into that directory & run:
`make install`.
It fixed it for me.

[2020-02-09 18:56] thexavier666 commented on #55
This should be mentioned in the readme

[2020-02-11 18:11] GreyDireWolf commented on #55
@aniru3-otaku That didn't work for me

[2020-02-11 19:41] thexavier666 commented on #55
@GreyDireWolf Did you install the patched version of the fonts?

[2020-02-12 08:23] aniru3-otaku commented on #55
@GreyDireWolf u need patched font for it to work

go to https://www.nerdfonts.com/font-downloads & download ur favorite font, place it into ~/.local/share/fonts/ and run `fc-cache`
after that configure ur terminal to use that font & u r all set :)

I can confirm that Sauce Code Nerd Font shows icons on termite:
![2020-02-12-134840_1520x1039_scrot](https://user-images.githubusercontent.com/60726339

[2020-02-12 14:48] GreyDireWolf commented on #55
@aniru3-otaku still didn't work for me
![ranger](https://user-images.githubusercontent.com/13380243/74345946-d75fb280-4dd4-11ea-92b5-4a63c4767947.png)

[2020-02-12 15:09] jeffmhubbard commented on #55
Have tried any other fonts besides SauceCodePro? Also, are you using the repo urxvt? Try rxvt-unicode-cvs-patched-wideglyphs from AUR.

[2020-02-12 15:12] thexavier666 commented on #55
Can you tell us exactly where you have placed the plugin? @GreyDireWolf

[2020-02-12 15:27] GreyDireWolf commented on #55
@jeffmhubbard I tried Hack and some other fonts. `rxvt-unicode-cvs-patched-wideglyphs` didn't work. @thexavier666 I placed the plugin in `~/.config/ranger/plugins` as mentioned in README

[2020-02-13 10:21] aniru3-otaku commented on #55
What's the output when u run `make install` in ranger_devicons folder? Also, check ur plugins folder under ranger's configuration.
It should look something like this...
![2020-02-13-154918_1920x1079_scrot](https://user-images.githubusercontent.com/60726339/74424748-86a19580-4e78-11ea-9be8-c86e6d7910de.png)

[2020-02-13 15:02] GreyDireWolf commented on #55
@aniru3-otaku my configuration looks same as yours. There is some space before name of the file/folder after installing the plugin. Here before and after installation screenshots
![without](https://user-images.githubusercontent.com/13380243/74447694-ca5bc580-4e9f-11ea-942f-22703fca2a76.png)
![with](https://user-images.githubusercontent.com/13380243/74447703-cd56b600-4e9f-11ea-84d7-b06872a50c44.png

[2020-02-14 11:20] aniru3-otaku commented on #55
ok so do one thing for me, open ~/.config/ranger/plugins/devicons.py. After that, change `if file.is_directory: return dir_node_exact_matches.get(file.relative_path, '')` (on 272 line) to something like `if file.is_directory: return dir_node_exact_matches.get(file.relative_path, 'F')`.

save it and open ranger, see if u can see the F word (lol) like here:
![2020-02-14-164820_745x360_scrot](https:

[2020-02-17 13:53] GreyDireWolf commented on #55
@aniru3-otaku
![F](https://user-images.githubusercontent.com/13380243/74659776-eff81000-51ba-11ea-861e-d904e119c6b8.png)

[2020-02-17 22:07] jeffmhubbard commented on #55
That should indicate that the plugin is working correctly. Are you able to see glyphs/icons in other terminal apps? What does `echo $'\ue62b'` show?

[2020-02-18 17:13] GreyDireWolf commented on #55
@jeffmhubbard Thanks for the hint. I didn't  properly setup locale on my system. Setting up the locale fixed the issue

[2020-02-18 17:14] GreyDireWolf commented on #55
Closed #55

[2020-02-18 17:14] #55 closed

[2020-04-04 08:04] marcbelmont commented on #14
@eMPee584, here's my plugin that uses Unicode icons.
https://gist.github.com/marcbelmont/c12d2fd2519a372d3b347f665b37e74a#gistcomment-3240106

[2020-04-05 00:24] zdmgmail opened #56 "only Music dir not work"
![04-05_08:15:55](https://user-images.githubusercontent.com/50515839/78463947-d7659a00-7715-11ea-9687-fc55d4cd6985.png)

[code]

why Music devicons is ".", Is there any solution ?

[2020-04-05 06:03] Mange commented on #56
In your screenshot it looks like "Documents" is also wrong. Looks like a font loading issue.

Have you told your terminal to use the patched font?

Secondly, try logging out and in again. That should rebuild your while cache.

[2020-04-05 07:11] zdmgmail commented on #56
I reboot but still problem , the termminal  alacritty and urxvt both have problem

alacritty:

![04-05_15:07:56](https://user-images.githubusercontent.com/50515839/78469006-6c38b980-774f-11ea-9a6e-5fe7f6301be6.png)

uxrxvt:

![04-05_15:07:41](https://user-images.githubusercontent.com/50515839/78469004-680c9c00-774f-11ea-8f0f-4c4c3b6681da.png)

I haven't told the terminal use patch font, but in the

[2020-04-05 07:12] zdmgmail commented on #56
these two pictures should be swap

these two pictures should be swaped

[2020-04-05 08:35] zdmgmail commented on #56
may be nerd-font not intall correct? but I used these

[code]

[2020-04-07 10:03] #56 closed

[2020-05-03 16:53] andys8 commented on #4
@alexanderjeurissen I had the need for a similar option. Maybe there could be a way to make this configurable. I came up with this but there might be better solutions for configuration.

https://github.com/andys8/ranger_devicons/commit/3ae505cff08bc22808c814b1c0b0bcb4cdfb2422

Maybe you're interested in having this configuration.

![image](https://user-images.githubusercontent.com/13085980/8092029

[2020-05-04 02:52] little-fish-lalala commented on #3
The problem disappear as I comment out the setting：
#default_linemode devicons

[2020-05-21 15:14] alexanderjeurissen commented on #49
Seeing as this seems to be a nerd-fonts issue I'm closing this out for now.

The aforementioned issues in the nerd fonts repository also have since been closed. If this issue is still present feel free to reopen.

[2020-05-21 15:14] #49 closed

[2020-06-03 20:50] alexanderjeurissen commented on #23
initial results don't seem very promising.. escape codes don't get interpreted by ranger but get printed directly.

<img width="418" alt="Screenshot 2020-06-03 at 22 50 15" src="https://user-images.githubusercontent.com/1220084/83687806-99d59e00-a5ec-11ea-9f43-792a40a4de91.png">

[2020-06-03 20:50] alexanderjeurissen commented on #23
I'll do some more investigation this weekend to see if I can get it to work.

[2020-06-19 13:26] alexanderjeurissen opened #61 "Rename "master" branch to "main""
RE: https://gitlab.com/gitlab-org/gitlab/-/issues/220906

Rename branch to "main" to be considerate of people for the negative connotation that "master" has for a lot of people.

[2020-06-19 23:43] #61 closed

[2020-06-28 14:19] TyNguyen2001 opened #62 "Invalid linemode: devicons"
Hello, I have encountered the following error. It seems ranger_devicons doesn't work. Please help me. Thanks!
![Screenshot from 2020-06-28 21-17-15](https://user-images.githubusercontent.com/64082226/85950111-0726e580-b985-11ea-84f7-f7bb278de4be.png)
My `rc.conf`

set preview_images_method kitty
default_linemode devicons

[2020-06-30 08:52] f-koehler commented on #62
I had the same problem. It seems that the issue is hat there is no `__init__.py` present.
As far as I can tell the author of this plugin fixed it in a02271228a9482116cf308766806d5de3d124fda.

For me checking out either that commit or the `fix_incorrect_init` resolved the issue. I assume this will merged into the main branch soon.

[2020-06-30 09:51] alexanderjeurissen commented on #62
Thanks for flagging, seemed I forgot to merge the fix above to the `main` branch.

I'll do that now.

[2020-06-30 09:52] #62 closed

[2020-07-07 12:33] mybigman opened #64 "Invalid linemode: devicons"
No icons shown and with the latest download I get the following error as soon as I exit ranger.

[code]
OS: fedora 32
Terminal: kitty

**rc.conf**
[code]

[2020-07-11 11:04] alexanderjeurissen commented on #64
Hi, can you describe how you installed this library ?

also can you show me the tree output of your ranger directory ?

e.g. `dnf install tree` then `tree <ranger_path>`

[2020-07-12 14:59] CallumHoward commented on #23
Did you manage to figure anything out for this?

[2020-07-12 17:24] alexanderjeurissen commented on #23
@CallumHoward not yet. Looks like Ranger completely ignores color escape codes. Also the font color of the linemode seems to be defined in the theme meaning ranger likely does not support partial highlights.

I'm open to suggestions and/or  a PR.

[2020-07-13 04:29] diandianti commented on #64
My ranger has same problem, I just git clone this repo and copy the files into ~/.config/ranger/plugin
and file tree is:
`.
├── bookmarks
├── commands_full.py
├── commands.py
├── history
├── plugins
│   ├── devicons_linemode.py
│   ├── devicons_linemode.pyo
│   ├── devicons.py
│   ├── devicons.pyo
│   ├── __init__.py
│   └── __init__.pyo
├── rc.conf
├── rifle.conf
├── scope.sh
└── tagged
`

[2020-07-18 04:39] Alexey104 commented on #64
Same problem on Arch with commits using new install method(later than f0b8fc2):
`Invalid linemode: devicons; should be filename/metatitle/permissions/fileinfo/mtime/sizemtime`

Moving *.py files to the root of plugins directory solves the problem:
`mv -fv ~/.config/ranger/plugins/ranger_devicons/*.py ~/.config/ranger/plugins` #Works fine now

[2020-07-22 16:36] elig0n opened #65 "keeping a linemode with devicons"
how can I keep both a default linemode (i.e. filename, sizehumanreadblemtime) and devicons together ?

[2020-07-24 06:49] negativeExponent commented on #64
worked fine on my end without modifications using default rc.conf

![ranger](https://user-images.githubusercontent.com/54053706/88366816-bd32f300-cdbc-11ea-8b31-02af966c5ce5.png)

[2020-07-24 10:28] Alexey104 commented on #64
For me the problem was `/usr/lib/python3.8/site-packages/ranger/core/main.py` file. A long time ago I made some modifications in that file and saved the modified version as a backup for further usage. But that file was modified in newer ranger versions, and after replacing it with the default one everything is working fine. So, if you have `Invalid linemode` error and are using any old ranger conf

[2020-07-25 02:55] mybigman commented on #64
Moving the files out of the ```ranger_devicons``` works as expected but still fails in its own directory.

<img width="264" alt="Screen Shot 2020-07-25 at 12 53 54 pm" src="https://user-images.githubusercontent.com/1289916/88447387-ff6c3b00-ce75-11ea-8689-8e4fcc6592cb.png">

[2020-07-30 01:42] magalhaesm commented on #64
Instead moving files, try just make symlinks.

ln -sf ~/.config/ranger/plugins/ranger_devicons/__init__.py ~/.config/ranger/plugins/__init__.py
ln -sf ~/.config/ranger/plugins/ranger_devicons/devicons.py ~/.config/ranger/plugins/devicons.py

This works fine for me.

[2020-08-01 13:18] alexanderjeurissen commented on #65
by not specifying `devicons` as the default line mode, and manually invoking the devicons line mode whenever you want to use it.

e.g.

[code]

then either manually invoke `:linemode devicons` or create a mapping if you frequently switch:

[code]

[2020-08-01 13:18] #65 closed

[2020-08-01 14:04] alexanderjeurissen commented on #64
cloning the plugin in the `~/.config/ranger/plugins` directory should work. this should result in a tree like this:

[code]

Make sure you are running the latest version of ranger and the error should not show up.

[2020-08-01 14:04] #64 closed

[2020-08-02 13:47] SuperSandro2000 commented on #14
@marcbelmont Can you do a PR with this?

[2020-08-02 14:03] freed00m commented on #21
Not using ranger and it's probably terminal client rendering issue.

[2020-08-02 14:03] #21 closed

[2020-08-02 15:40] marcbelmont commented on #14
I have decided to not use ranger_devicons. The Linemode I wrote is standalone. Install instructions:
 https://gist.github.com/marcbelmont/c12d2fd2519a372d3b347f665b37e74a#gistcomment-3240106

[2020-08-10 01:31] #40 closed

[2020-08-10 01:31] #14 closed

[2020-08-20 16:27] fn-ix commented on #53
Just use an unpatched font for the text and load the symbols as a separate font with the desired size in `Xresources`, e.g.
[code]

[2020-09-11 08:36] ad-si commented on #23
Still relevant ;-)

[2020-09-19 06:44] mridle582 opened #67 ""Invisible" Icons"
Hello,
I hope all is well with you. I am currently using the patched Source Code Pro Font (aka Sauce Code Pro Nerd Font) and for some reason the icons are invisible in ranger but visible when I open vim. Any advice would be appreciated.

Thanks

![2020-09-19-02:42:16-screenshot](https://user-images.githubusercontent.com/68788406/93660951-fd5fcc00-fa21-11ea-8978-415aabe07dea.png)
![2020-09-19-02:42

[2020-09-20 19:06] ad-si commented on #23
Uhm what? Why was it closed? What's the correct code word for the bot @alexanderjeurissen? 😅

[2020-09-20 19:08] alexanderjeurissen commented on #23
Seems one needs to remove the "stale issue" label explicitly.

For now I reopened the issue

[2020-09-23 08:48] wangjianze96 commented on #3
Hi, I also encountered this issue and I think the reason might be ranger cannot find devicons.py's path. I installed ranger_devicon as the instruction said and no icon show up after I started ranger and with a warning "Invalid linemode: devicons; should be metatitle/sizemtime/filename/mtime/fileinfo/permissions". So I copied devicons.py and __init__.py to folder plugins/ rather than leaving them i

[2020-09-30 22:24] filipeoliv02 commented on #67
Greetings,
I also am experiencing this issue. Any help would be great. I already uninstalled and installed back again, my terminal, ranger, and even zsh just so I could figure out what was causing the problem. I already checked my configs and I still can't find nothing that lead me to this. I can only conclude this is a bug, since I can properly see the icons in vim as well.

[2020-10-01 09:11] SuperSandro2000 commented on #45
bump

[2020-10-02 09:04] dionisisNik commented on #67
I fixed this problem on my machine by setting my locale correctly.

1. See the output of 'locale' command in terminal.

2. If it there exists a 'LANG=C' then the devicons don't work. (And your locale is not set up correctly.)

Here is how to setup your [locale](https://wiki.archlinux.org/index.php/locale). See the section 'Setting the locale', it should be pretty easy to fix.
I for example had to

[2020-10-02 17:39] mridle582 commented on #67
Thanks! That worked. How can I 'close' this issue?

[2020-10-04 00:14] filipeoliv02 commented on #67
Yes that really was the problem. How silly of me, I really thought I did all the steps in the arch wiki while setting the locales but I guess I missed that. Really thankful for your help kind stranger.
Greetings.

[2020-10-09 06:12] p0txky commented on #3
don't put ranger **default_linemode_devicons** in rc.conf instead use **default_linemode** devicons

[2020-10-30 06:14] westofer commented on #45
Was the solution just changing an icon? it seemed too easy #68

[2020-11-13 15:34] niksfirefly opened #69 "M-n~WM-? instead of icons"
I use last version of ranger installed with
pip package ranger-fm

I got
M-n~WM-? string instead of dir icons
M-n~X~U
M-n~X~R
strings instead of file icons

locale is ok, nerd font also works in gnome terminal
python 3.7, ubuntu 18.04

Am I missed something?

regards

[2020-11-20 08:50] SuperSandro2000 commented on #23
bump

[2020-11-27 18:07] tbrodbeck opened #70 "[Kitty] Ranger does not display devicons"
#### Runtime Environment

- Operating system and version: macOS 14.01
- Terminal emulator and version: kitty 0.19.2
- Ranger version/commit: ranger version: ranger 1.9.3
- Python version: 2.7.16 (default, Oct 30 2020, 02:15:49) [GCC Apple LLVM 12.0.0 (clang-1200.0.30.4) [+internal-os, ptrauth-isa=sign+stri
- Locale: None.None
- shell: zsh 5.8 (x86_64-apple-darwin20.0)

#### Current Behavior
When u

[2020-12-10 02:10] #67 closed

[2020-12-24 06:27] milkias17 commented on #70
I use kitty as my terminal emulator and everything works fine. What is the terminal font you are using right now? If the font you are using is not patched with nerd font, it wont work.

[2020-12-24 10:20] tbrodbeck commented on #70
This issue was from kitty and it is fixed by now (https://github.com/ranger/ranger/issues/2169)

[2020-12-24 10:20] #70 closed

[2020-12-28 13:46] potamides opened #71 "Plugin overwrites "filename" linemode"
**Describe the bug**
When the plugin is installed the filename linemode behaves the same way as the devicons linemode.

**To Reproduce**
Steps to reproduce the behavior:
1. Install plugin
2. specify filename linemode (e.g. through `default_linemode filename` in `rc.conf`)
3. devicon glyphs are shown, which is different from the default behavior

**Additional context**
It looks like the filename li

[2021-01-01 01:38] SuperSandro2000 commented on #45
bump

[2021-01-01 16:11] alexanderjeurissen commented on #45
closed by #68

[2021-01-01 16:11] #45 closed

[2021-01-01 16:12] alexanderjeurissen commented on #71
@potamides Thanks for submitting this issue.

Nice find, this is not intentional. I'll go ahead and rectify this.

[2021-01-01 16:16] #71 closed

[2021-01-02 18:20] alexanderjeurissen commented on #23
Thanks for the bump @SuperSandro2000

From my investigations it seems that this is not really feasible at this point in time.

Ranger does not support multi-colored output for its linemodes.

Font color for all text rendered in the linemode is defined by the 'theme'. This is a single color and does not support contextual coloring let alone multi-part color output.

As such, if people really want t

[2021-01-13 11:07] HallowDance opened #73 "No fallback icons (Source Code Pro patched NERDfont + urxvt)"
**Describe the bug**
There are no icons for pdf files - they appear as missing symbol boxes. That's also true for a lot of other file types.

**To Reproduce**
Open `ranger` in `urxvt`

Relevant .Xresources:

` URxvt*font:                     xft:SauceCodePro\ Nerd \Font:size=10,xft:symbola:size=10:minspace=False`

**Expected behavior**
It would be nice to have a fallback icon.

**Screenshots**
![S

[2021-01-20 02:57] #69 closed

[2021-01-23 12:43] rivalak commented on #3
Actually, one who wants to use *devicons* should have a NERDfont installed.

[2021-01-24 03:34] rivalak commented on #64
This solution works fine for me too.

[2021-02-05 14:41] Mirai009 opened #74 "audio file icon not working properly"
![gscreenshot_2021-02-05-153939](https://user-images.githubusercontent.com/76122563/107047925-4392ad80-67c0-11eb-85b3-ff57b327b46e.png)

[2021-02-14 12:48] alexanderjeurissen commented on #73
Good find, it would indeed be nice to have a default fallback icon for items that don't match any known file extension.

I'd be open for a PR that addresses this. @HallowDance is this something you'd like to take a stab at ?

[2021-03-04 09:39] ad-si commented on #23
Still relevant 😉

[2021-03-04 12:51] alexanderjeurissen opened #76 "Test auto closer"
Issue that does not meet the issue template

[2021-03-04 12:51] #76 closed

[2021-03-04 12:58] alexanderjeurissen opened #77 "Test auto closer with a valid issue"
- [ ] I've read the [guidelines for Contributing](https://github.com/alexanderjeurissen/ranger_devicons/blob/main/CONTRIBUTING.MD)

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expec

[2021-03-04 13:00] alexanderjeurissen opened #78 "Test Issue that does not accept contribution guidelines"
- [ ] I've read the [guidelines for Contributing](https://github.com/alexanderjeurissen/ranger_devicons/blob/main/CONTRIBUTING.MD)

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expec

[2021-03-04 13:00] #78 closed

[2021-03-04 13:01] alexanderjeurissen opened #79 "Test valid issue with accepted terms"
- [x] I've read the [guidelines for Contributing](https://github.com/alexanderjeurissen/ranger_devicons/blob/main/CONTRIBUTING.MD)

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expec

[2021-03-04 13:02] #79 closed

[2021-03-04 13:03] alexanderjeurissen opened #80 "Test Valid issue auto closer"
- [x] I've read the [guidelines for Contributing](https://github.com/alexanderjeurissen/ranger_devicons/blob/main/CONTRIBUTING.MD)

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expec

[2021-03-04 13:03] #80 closed

[2021-03-04 13:05] alexanderjeurissen opened #81 "Test auto closer valid issue"
- [ ] I've read the [guidelines for Contributing](https://github.com/alexanderjeurissen/ranger_devicons/blob/main/CONTRIBUTING.MD)

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expec

[2021-03-04 13:06] alexanderjeurissen opened #82 "Test auto closer invalid"
wow

[2021-03-04 13:06] #82 closed

[2021-03-04 14:32] alexanderjeurissen commented on #23
The only way to get this working is if Ranger starts supporting ANSI escape codes / colors in line modes.
Currently changing the color of individual items is limited to color schemes.

ref: https://github.com/ranger/ranger/issues/169
ref: https://github.com/ranger/ranger/issues/68

But those are limited in that highlighting takes place on a per line level.

@ad-si as the OP of this issue I urge yo

[2021-03-04 14:37] alexanderjeurissen commented on #74
Please refer to the [guidelines for contributing](https://github.com/alexanderjeurissen/ranger_devicons/blob/main/CONTRIBUTING.MD) and the [bug report issue template](https://github.com/alexanderjeurissen/ranger_devicons/blob/main/.github/ISSUE_TEMPLATE/bug_report.md)

**Given that we only recently started enforcing the issue template, and bug report guidelines I'll keep this issue open for now.**

[2021-03-04 19:51] Mirai009 commented on #74
turns out the problem was the font changed it from source code pro to fira code and it worked

[2021-03-04 19:51] #74 closed

[2021-03-18 17:00] indeedwatson opened #83 "Icons missing despite installing nerd fonts mentioned in the readme"
Previously I had the complete nerd fonts package installed, but that took about 9GB of cache, so I stopped using it.

Following the readme, I installed Source Code Pro patched NERDfont (nerd-fonts-source-code-pro from AUR), and I also have ttf-nerd-fonts-symbols. However, some icons are still missing:

![1616086621](https://user-images.githubusercontent.com/10749504/111665802-db3ce000-87f1-11eb-87

[2021-03-18 17:00] #83 closed

[2021-04-19 11:48] dnnis opened #87 "Made open folders display open folder icon, 1 LOC change"
**Is your feature request related to a problem? Please describe.**
This is not related to a problem, just a mere visual difference

**Describe the solution you'd like**
Wrote the below code on the end of the file of the plugin:

`def devicon(file):
  if file.realpath == os.getcwd(): return dir_node_exact_matches.get(file.relative_path, '')
  elif file.is_directory: return dir_node_exact_matches.g

[2021-04-19 11:52] jiud commented on #87
@alexanderjeurissen
 I am tagging you to see this, sorry for not following the template completely+tagging you, but tagging you is better than reposting the same issue I guess.
Thank you

[2021-04-19 17:44] alexanderjeurissen commented on #87
@jiud np, I'll take a look thanks for pinging me

[2021-04-23 01:55] #73 closed

[2021-04-24 01:41] jjpprr opened #88 "Random characters and text shifting while moving around"
- [x] I've read the [guidelines for Contributing](https://github.com/alexanderjeurissen/ranger_devicons/blob/main/CONTRIBUTING.MD)

**Describe the bug**
Upon running ranger, lines and icons are all rendered correctly except the first line. Upon moving around some persistence artifacts start showing and filenames can be seen to shift by one character back and forth.
It seems as if ranger is wrappin

[2021-04-25 22:24] jeffmhubbard commented on #73
@HallowDance The think the issue is with URxvt. You need to have a patched version of URxvt. The second line of `urxvt --help` will show what options URxvt was compiled with. If you don't see `wide-glyphs` listed, you'll see boxes when characters are too wide.

I can reproduce your issue on Arch:
- Install `rxvt-unicode` from repos.
- Install `nerd-fonts-source-code-pro` from AUR.
- Run `fc-cache

[2021-04-26 07:43] HallowDance commented on #73
Thank you, building `rxvt-unicode-cvs-patched-wideglyphs` has resolved the issue!

[2021-05-04 11:35] SuperSandro2000 commented on #23
Bump

[2021-05-14 20:28] UltiRequiem commented on #23
Bump Bump

[2021-06-30 02:14] #88 closed

[2021-07-05 02:07] #87 closed

[2021-07-14 02:45] CallumHoward commented on #23
bump bump bump

[2021-08-19 18:05] PenaflorPi opened #90 "Icons read as arabic characters."

[2021-08-19 18:05] #90 closed

[2021-09-09 14:27] XuehaiPan commented on #23
I have created a PR to add ANSI escape codes support in the ranger browser column, which makes it possible for colored icons or partially highlighted texts. See ranger/ranger#2445.

[2021-09-17 01:23] Head0nF1re opened #93 "Invalid linemode: devicons - Icons not showing"
- [X] I've read the [guidelines for Contributing](https://github.com/alexanderjeurissen/ranger_devicons/blob/main/CONTRIBUTING.MD)

**Describe the bug**
- Installed `ranger` from package manager
- Cloned `ranger_devicons`  into **~/.config/ranger/plugins**
- Moved `devicons.py` to **~/.config/ranger** and  `__init__.py` to **~./config.ranger/plugin** because I saw this issue: #64
- Added `default_

[2021-09-17 08:02] sohorx commented on #93
I do not have time to look into it but...

It seems to mean that its because of an error in the code merged #92 .
so comment everything about xdg configs and please, move your `devicons.py` into the `/plugins/ranger_devicons` (otherwise you will have an import error) and you should be fine.

[2021-09-17 12:02] Head0nF1re commented on #93
@sohorx I tried to place the files in different ways before but didn't work. The problem like you said is the commit made after #92, but also needed to place both **__init__.py** and **devicons.py** in **~/.config/ranger/plugins** . Or, it also works creating a directory named "**devicons**" inside **~/.config/ranger/plugins** and place both files there. Or renaming the folder **ranger_devicons**

[2021-09-17 15:38] ykelvis opened #94 "Icon missing"
- [x] I've read the [guidelines for Contributing](https://github.com/alexanderjeurissen/ranger_devicons/blob/main/CONTRIBUTING.MD)

**Describe the bug**
ranger_devicons is not loaded

**To Reproduce**
Steps to reproduce the behavior:
1. install ranger_devicons properly
2. launch ranger

**Environment (please complete the following information):**
 - archlinux 5.14.2-arch1-2
 - zsh 5.8 (x86_64-pc-l

[2021-09-18 10:39] Head0nF1re commented on #94
See my issue #93

[2021-09-24 17:53] aprowe commented on #93
Huh I tried all this and I still can't get them to work. Tried all sorts of renaming and I still get
[code]

[2021-09-25 09:57] ykelvis commented on #94
fixed by #95 , thanks for the help

[2021-09-25 09:57] #94 closed

[2021-10-02 22:21] ohnomonkey commented on #93
Same here. I've tried all of the various suggestions and it continues to fail with the 'invalid linemode' error as described above by aprowe.

[2021-10-25 07:45] Nikita128 opened #97 "The plugin crashes due to invalid syntax error: path := os.getenv(key))"
**Describe the bug**
Plugin crashes for some reason. Here's the ranger debug mode output:

[code]

**Environment (please complete the following information):**
 - OS + version: [Ubuntu 18.04]
 - shell [bash]
 - shell version [4.4.20]

**Ranger devicons (please complete the following information):**
 - version / commit [ranger-master]
 - output of `tree ~/.config/ranger`
[code]

[2021-10-25 07:46] #97 closed, assigned to nobody

[2021-10-25 07:53] Nikita128 opened #98 "The plugin crashes due to invalid syntax error: path := os.getenv(key))"
- [x] I've read the [guidelines for Contributing](https://github.com/alexanderjeurissen/ranger_devicons/blob/main/CONTRIBUTING.MD)

**Describe the bug**
Plugin crashes due to invalid syntax error.

**To Reproduce**
Steps to reproduce the behavior:
1. Download ranger_devicons repo to ~/.config/ranger/plugins/ranger_devicons
2. Add `default_linemode devicons` to rc.conf
3. Launch ranger

**Expected

[2021-11-09 03:16] UltiRequiem commented on #23
bump bump bump bump

[2021-11-12 02:38] stpnwf opened #99 "Wrong icons being displayed in home folder and upon selection"
- [x] I've read the [guidelines for Contributing](https://github.com/alexanderjeurissen/ranger_devicons/blob/main/CONTRIBUTING.MD)

**Describe the bug**
Documents and Public folder icons display weird characters instead of chosen icons. Changing them has no effect.

![2021-11-11T22:50:52-03:00-cropped](https://user-images.githubusercontent.com/81482539/141396364-17ff1d3c-05ee-4d8e-bbee-aec50a75da2

[2021-11-30 08:18] logicguy1 opened #100 "Devicons not showing up in kitty / ranger"
- [x] I've read the [guidelines for Contributing](https://github.com/alexanderjeurissen/ranger_devicons/blob/main/CONTRIBUTING.MD)

**Describe the bug**
The icons basically just dont appear

**To Reproduce**
Steps to reproduce the behavior:
1. Run the commands listed in the readme
2. Install a nerd font (in my case `Sauce Code Pro Semibold Nerd Font Complete Mono`) and configure it in the kitty te

[2021-12-02 07:20] ohmyhub commented on #100
Kitty will automatically look for a fallback font to display a glyph if your configured font isn't capable of doing so.

Try running `kitty --debug-font-fallback`.

That should spawn a second kitty terminal while the first one shows a verbose log of kitty searching for fallback fonts.

In the second terminal jump into ranger and see what the log starts spitting out.

I was having issues with Unico

[2021-12-02 07:24] ohmyhub commented on #99
See my comment on a similar issue.
https://github.com/alexanderjeurissen/ranger_devicons/issues/100#issuecomment-984355990

[2021-12-03 20:06] logicguy1 commented on #100
Oh actually a lot of nice info there i was wondering about, here is the output of the log when starting ranger
[code]

[2021-12-09 02:12] #93 closed

[2022-01-03 08:34] XuehaiPan commented on #98
This issue has not been fixed yet. @alexanderjeurissen Can you take a look? Much appreciated.

[2022-01-03 08:43] ferdinandyb commented on #98
What version is your python? `:=` was introduced in 3.8.

[2022-01-03 15:05] XuehaiPan commented on #98
@ferdinandyb Ranger support Python 2.6, 2.7 and 3.x (3.1 ~ 3.10). See PR #96, it may fix this.

[2022-01-09 03:19] UltiRequiem commented on #23
BUMP!

[2022-01-12 08:57] #98 closed

[2022-02-09 02:13] #100 closed

[2022-02-09 02:13] #99 closed

[2022-03-12 02:44] UltiRequiem commented on #23
bump

[2022-05-12 07:54] ad-si commented on #23
…

[2022-05-24 10:21] nionios commented on #87
This is still relevant :)

[2022-05-24 10:25] nionios commented on #87
Is this still relavant? :)

[2022-06-13 19:10] Slushee-a opened #105 "Icons missing with valid Nerd font"
- [x] I've read the [guidelines for Contributing](https://github.com/alexanderjeurissen/ranger_devicons/blob/main/CONTRIBUTING.MD)

**Bug description:**
Nerd font is installed, glyphs are correctly displayed in terminal yet they are invisible in ranger.
Both `exa --icons` and `cat devicons.py` display the icons as expected, but ranger has an empty space instead of an icon.

**To Reproduce**
Steps

[2022-06-15 09:31] Slushee-a commented on #105
I found a fix.
I had the following in my zshrc:
[code]
Turns out I just had to comment that out and add:
[code]
The icons weren't missing, they were just invisible as I expected.

[2022-06-15 09:31] #105 closed

[2022-06-25 18:01] daankata opened #106 "path + filename match custom icon"
Is it possible to have two separate icons for a file/directory named 'Books', depending of the directory it is in?
For example:
~/Audio/Books (to have an audiobook icon)
~/Library/Books (to have a books icon)

[2022-06-25 18:01] #106 closed

[2022-07-12 02:28] CallumHoward commented on #23
I have been using @XuehaiPan's [PR branch](https://github.com/ranger/ranger/pull/2445) for 3 months now and it works without problem. I would love to see it reviewed and discussed so this cool feature can be merged and shared with everyone.

[2022-09-19 02:13] #23 closed